<footer class="footer">
  <small>
    <a href="http://moloko.ws/">Software Development</a>
    by Dmitri E. Molokov
  </small>
  <nav>
    <ul>
          <li><%= link_to "Writings",    root_path %></li>
          <li><%= link_to "About",    root_path %></li>
          <li><%= link_to "Feedback",    root_path %></li>
          <li><%= link_to "Some help",    root_path %></li>

    </ul>
  </nav>
</footer>